# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
myenv/

# Environment variables (MOST IMPORTANT)
.env
*.env
scripts/*.env

# Secrets
*.pem
*.key
*.crt
*.tfvars

# Kafka data & logs
kafka-data/
logs/
kafka_2.13-4.1.0/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Streamlit cache
.streamlit/

# Ollama models
ollama_models/

# System files
.DS_Store
*.log

# VSCode
.vscode/

# Docker
*~ 
