# Python
__pycache__/
*.pyc

# Virtual environments
venv/
myenv/

# Kafka data & logs
kafka-data/
kafka_2.13-4.1.0/
logs/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Streamlit cache
.streamlit/

# Ollama models
ollama_models/

# System files
.DS_Store
*.log
